:root {
    --branco-principal: #FFFFFF;
    --cinza-segundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'inter';
    --botao-azule-feito: #3c92fa;

}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container-titulo {
    font-size: 27px;
}

.container-caixa {
    margin: 0 6em;
}

.container-botao {
    background-color: var(--botao-azul);
    border-radius: 8px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container-botao:hover {
    background-color: var(--botao-azule-feito);
    color: var(--cor-de-fundo);
}

.botao-secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.texto-aviso {
    font-size: 12px;
    color: var(--cinza-segundario);
}

.container-imagem {
    margin: 1em 0 2em 0;
}

.imagem-secundario {
    width: 88%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.titulo-descricao {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.texto-descricao {
    color: var(--cinza-segundario);
}

.botao-terceiro {
    display: inline-block;
    margin-top: 1em;
}

.container-descricao {
    padding: 2em;
}

.dispositivos {
    text-align: center;
}

.dispositivos-titulos {
    font-size: 48px;
    color: var(--branco-principal);
}

.dispositivos-listas {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.lista-item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape-logo {
    margin: 2em;
    width: 102px;
}

.rodape-lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 1em 0;
}

.lista_link a {
    font-size: 16px;
    color: var(--branco-principal);
    text-decoration: none;
    margin-left: 1em;
}

.lista_link a:hover {
    color: var(--botao-azul);
}

.lista_link a:active {
    color: purple;
}

.rodape-texto {
    font-size: 14px;
    color: var(--cinza-segundario);
    margin: 1em 0;
}